flow.json
[
    {
        "id": "2f22a3cd.f2c92c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4e420c9.e1b36f4",
        "type": "tab",
        "label": "Flow Raspberry",
        "disabled": true,
        "info": ""
    },
    {
        "id": "88bbe218.63673",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "ab7f195c.aa0308"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 200,
                "wires": [
                    {
                        "id": "ab7f195c.aa0308",
                        "port": "2"
                    }
                ]
            },
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "ab7f195c.aa0308",
                        "port": "0"
                    }
                ]
            },
            {
                "x": 340,
                "y": 140,
                "wires": [
                    {
                        "id": "ab7f195c.aa0308",
                        "port": "1"
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "MAX",
                "type": "num",
                "value": "100",
                "ui": {
                    "icon": "font-awesome/fa-thermometer-full",
                    "type": "spinner"
                }
            },
            {
                "name": "MIN",
                "type": "num",
                "value": "0",
                "ui": {
                    "icon": "font-awesome/fa-thermometer-empty",
                    "type": "spinner"
                }
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "ea5e934f.a933",
        "type": "mqtt-broker",
        "name": "",
        "broker": "enriquecrespo.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4572a55c.f43dac",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "64882ffa.0a3c9",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "4572a55c.f43dac",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b695d6d5.c3db08",
        "type": "ui_group",
        "name": "CPU",
        "tab": "4572a55c.f43dac",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b0f16f57.d6078",
        "type": "ui_group",
        "name": "Memoria",
        "tab": "4572a55c.f43dac",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1ade6c98.dd7dd3",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ab7f195c.aa0308",
        "type": "switch",
        "z": "88bbe218.63673",
        "name": "If else",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "MIN",
                "vt": "env"
            },
            {
                "t": "gt",
                "v": "MAX",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 160,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "af22b399.12614",
        "type": "exec",
        "z": "4e420c9.e1b36f4",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "RPi Temp.",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "14f0a295.59181d"
            ],
            [],
            []
        ]
    },
    {
        "id": "408435c9.447fec",
        "type": "exec",
        "z": "4e420c9.e1b36f4",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "CPU Load",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "ba819184.c072b"
            ],
            [],
            []
        ]
    },
    {
        "id": "8fbcbdf9.549b7",
        "type": "exec",
        "z": "4e420c9.e1b36f4",
        "command": "free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Free Memory",
        "x": 390.0000190734863,
        "y": 284.22223567962646,
        "wires": [
            [
                "daf6433c.bad81"
            ],
            [],
            []
        ]
    },
    {
        "id": "14f0a295.59181d",
        "type": "function",
        "z": "4e420c9.e1b36f4",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 120,
        "wires": [
            [
                "3c8ae2a0.ff9c5e"
            ]
        ]
    },
    {
        "id": "daf6433c.bad81",
        "type": "function",
        "z": "4e420c9.e1b36f4",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = parseInt(str.substring(0,str.length - 1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 594.7778091430664,
        "y": 273.66666316986084,
        "wires": [
            [
                "b74d6862.d56368"
            ]
        ]
    },
    {
        "id": "bfeea352.4dd03",
        "type": "inject",
        "z": "4e420c9.e1b36f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "af22b399.12614",
                "408435c9.447fec",
                "8fbcbdf9.549b7"
            ]
        ]
    },
    {
        "id": "3c8ae2a0.ff9c5e",
        "type": "mqtt out",
        "z": "4e420c9.e1b36f4",
        "name": "",
        "topic": "aprendiendonodered/alumno00/raspberrypi/Temperatura",
        "qos": "",
        "retain": "",
        "broker": "ea5e934f.a933",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "ba819184.c072b",
        "type": "mqtt out",
        "z": "4e420c9.e1b36f4",
        "name": "",
        "topic": "aprendiendonodered/alumno00/raspberrypi/CPU",
        "qos": "",
        "retain": "",
        "broker": "ea5e934f.a933",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "b74d6862.d56368",
        "type": "mqtt out",
        "z": "4e420c9.e1b36f4",
        "name": "",
        "topic": "aprendiendonodered/alumno00/raspberrypi/Memory",
        "qos": "",
        "retain": "",
        "broker": "ea5e934f.a933",
        "x": 900,
        "y": 280,
        "wires": []
    },
    {
        "id": "c9d3ed2e.000d7",
        "type": "mqtt in",
        "z": "2f22a3cd.f2c92c",
        "name": "",
        "topic": "aprendiendonodered/alumno00/raspberrypi/Temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "ea5e934f.a933",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "d0829640.ff1cb8",
                "29105f70.cadc6"
            ]
        ]
    },
    {
        "id": "1cb1a89a.9694a7",
        "type": "mqtt in",
        "z": "2f22a3cd.f2c92c",
        "name": "",
        "topic": "aprendiendonodered/alumno00/raspberrypi/CPU",
        "qos": "2",
        "datatype": "auto",
        "broker": "ea5e934f.a933",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "f4265561.0db998",
                "918a3377.b78e"
            ]
        ]
    },
    {
        "id": "ee7af37b.ebf8a",
        "type": "mqtt in",
        "z": "2f22a3cd.f2c92c",
        "name": "",
        "topic": "aprendiendonodered/alumno00/raspberrypi/Memoria",
        "qos": "2",
        "datatype": "auto",
        "broker": "ea5e934f.a933",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "a491daf.f4a8e28",
                "9210e5a6.9eaf78"
            ]
        ]
    },
    {
        "id": "29105f70.cadc6",
        "type": "ui_gauge",
        "z": "2f22a3cd.f2c92c",
        "name": "",
        "group": "64882ffa.0a3c9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "75",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "f4265561.0db998",
        "type": "ui_gauge",
        "z": "2f22a3cd.f2c92c",
        "name": "",
        "group": "b695d6d5.c3db08",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "90",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "a491daf.f4a8e28",
        "type": "ui_gauge",
        "z": "2f22a3cd.f2c92c",
        "name": "",
        "group": "b0f16f57.d6078",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#c80000",
            "#e6e600",
            "#00c800"
        ],
        "seg1": "50",
        "seg2": "100",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "d0829640.ff1cb8",
        "type": "ui_chart",
        "z": "2f22a3cd.f2c92c",
        "name": "",
        "group": "64882ffa.0a3c9",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 680,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "918a3377.b78e",
        "type": "ui_chart",
        "z": "2f22a3cd.f2c92c",
        "name": "",
        "group": "b695d6d5.c3db08",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 670,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9210e5a6.9eaf78",
        "type": "ui_chart",
        "z": "2f22a3cd.f2c92c",
        "name": "",
        "group": "b0f16f57.d6078",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 670,
        "y": 320,
        "wires": [
            []
        ]
    }
]