flow.json
[
    {
        "id": "7a41d385.bd9cd4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "749bd7f9.30eec8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "enriquecrespo.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f26b4e76.1d714",
        "type": "exec",
        "z": "7a41d385.bd9cd4",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "RPi Temp.",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "7ff74ed2.f65868"
            ],
            [],
            []
        ]
    },
    {
        "id": "baeed56c.b84d18",
        "type": "exec",
        "z": "7a41d385.bd9cd4",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "CPU Load",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "9f9e99cd.eca888"
            ],
            [],
            []
        ]
    },
    {
        "id": "5cb153d.d141dac",
        "type": "exec",
        "z": "7a41d385.bd9cd4",
        "command": "free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Free Memory",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "dc4cda5f.15389"
            ],
            [],
            []
        ]
    },
    {
        "id": "7ff74ed2.f65868",
        "type": "function",
        "z": "7a41d385.bd9cd4",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "d59c8897.309078"
            ]
        ]
    },
    {
        "id": "dc4cda5f.15389",
        "type": "function",
        "z": "7a41d385.bd9cd4",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = parseInt(str.substring(0,str.length - 1));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "9db2bd3c.0864a8"
            ]
        ]
    },
    {
        "id": "c58c5bac.b66888",
        "type": "inject",
        "z": "7a41d385.bd9cd4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "f26b4e76.1d714",
                "baeed56c.b84d18",
                "5cb153d.d141dac"
            ]
        ]
    },
    {
        "id": "9db2bd3c.0864a8",
        "type": "mqtt out",
        "z": "7a41d385.bd9cd4",
        "name": "",
        "topic": "aprendiendonodered21/alex/raspberrypi/Memoria",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "749bd7f9.30eec8",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "d59c8897.309078",
        "type": "mqtt out",
        "z": "7a41d385.bd9cd4",
        "name": "",
        "topic": "aprendiendonodered21/alex/raspberrypi/Temperatura",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "749bd7f9.30eec8",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "9f9e99cd.eca888",
        "type": "mqtt out",
        "z": "7a41d385.bd9cd4",
        "name": "",
        "topic": "aprendiendonodered21/alex/raspberrypi/cpu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "749bd7f9.30eec8",
        "x": 450,
        "y": 240,
        "wires": []
    }
]